:root {
    --accent1: #D61616ff;
    --textDark: #131314ff;
    --backgroundDark: #353535ff;
    --accent2: #2F440Cff;
    --textLight: #F2E7D9ff;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--textLight);
}

/*nav styles*/

header {
    border-bottom: solid 5px var(--textDark);
}

.banner {
    position: relative;
    text-align: center;
    color: var(--textLight);
}


.banner img {
    height: 150px;
    width: 100%;
    object-fit: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
}

.banner h1 {
    position: absolute;
    font-family: Montserrat Alternates;
    font-weight: 600;
    font-style: italic;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

nav {
    background-color: var(--backgroundDark);
    position: relative;
    text-align: center;
    padding: 1.2%;
}

nav a {
    margin: 0 10px 0 10px;
    height: 100%;
    padding: 5px 12px;
    font-size: 2.3rem;
    color: var(--accent1);
    text-decoration: none;
    border-radius: 5px;
    background-color: var(--textDark);
}

nav a:hover {
    color: var(--accent2);
    background-color: var(--textLight);
}

/*order content styles*/
.content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;

}

.content section {
    margin-top: 25px;
    padding: 2% 2% 2% 2%;
    border: solid black 3px;
    color: var(--accent2);
}

.content section h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 24px;
    color: var(--textDark);
}

fieldset {
    padding: 4%;   
}

label {
    font-size: 1.8rem;
    margin: 4px;
}

input {
    font-size: 1.6rem;
    margin: 4px;
    width: 60%;
}

select {
    font-size: 1.6rem;
}

.submit{
    padding:1% 0;
    width: 30%;
    margin-top: 2%;
    background-color: var(--textDark);
    color: var(--textLight);
    border-radius: 12px;
}
.submit:hover{
    background-color: var(--backgroundDark);
}
.contact{
    display: flex;
    flex-direction: column;
    padding: 0 3%;
}
.card{
    padding: 5% 8%;
}
.card h5{
    font-size: 1.4rem;
    padding: 2%;
    text-wrap: wrap;
}
.card p{
    text-align: right;
}

section footer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

footer a img{
    width: 70%;
}


/* Content Styles*/ 

#Menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1%;
}

.red{
    background-color: var(--accent1);
}
.green{
    background-color: var(--accent2);
}
.pizzaCard{
    border: 3px solid var(--textDark);
    color: var(--textLight);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    height: 300px;
    padding: 2%;
    margin: 5px;
}
.pizzaCard p{
    text-wrap: wrap;
    font-size: 15pt;
}
.pizzaCard h2{
    font-size: 30pt;
}

.pizzaCard img{
    width: 60%;
    margin: 8px 0px;
    border-radius: 20%;
}